<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       ">
        <!-- 开启注解扫描 -->
        <context:component-scan base-package="com.qfcast.service" />

        <!-- 读取外部文件 -->
        <context:property-placeholder location="classpath:db.properties" />

        <!-- 配置连接池 -->
        <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
                <property name="driverClassName" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
        </bean>

        <!-- 配置MyBatis -->
        <bean class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="dataSource"/>
                <property name="typeAliasesPackage" value="com.qfcast.pojo" />
                <property name="mapperLocations" value="classpath:mapper/*.xml" />
                <property name="plugins" ><!-- 配置分页插件 -->
                        <bean class="com.github.pagehelper.PageInterceptor" />
                </property>
        </bean>
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
                <property name="basePackage" value="com.qfcast.mapper" />
        </bean>
        <!-- 配置事务管理对象 -->
        <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
                <property name="dataSource" ref="dataSource" />
        </bean>
        <!-- 配置AOP事务 -->
        <tx:advice id="ad">
                <tx:attributes>
                        <tx:method name="query*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
                        <tx:method name="find*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
                        <tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
                        <tx:method name="insert*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
                        <tx:method name="modify*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
                        <tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
                        <tx:method name="remove*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
                        <tx:method name="delete*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
                </tx:attributes>
        </tx:advice>

        <aop:config>
                <aop:pointcut id="p" expression="execution(* com.qfcast.service.impl.*Impl.*(..))"/>
                <aop:advisor advice-ref="ad" pointcut-ref="p" />
        </aop:config>
</beans>